{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chambre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chambre.id }}</td>
            </tr>
            <tr>
                <th>Typechambre</th>
                <td>{{ chambre.typeChambre }}</td>
            </tr>
            <tr>
                <th>Nbrlits</th>
                <td>{{ chambre.nbrLits }}</td>
            </tr>
            <tr>
                <th>Prixchambre</th>
                <td>{{ chambre.prixChambre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('chambre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('chambre_edit', { 'id': chambre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
